extends default

block content
    div.container-fluid
      div.row.justify-content-center.mt-5
        div.col-lg-6.col-md-8.col-sm-10
          form(action="/search" method="GET")
            div.form-group
              a(href="/")
                img(src="img/dnata.png" alt="dnata" class="img-fluid")
            div.form-group
              label(for="searchBar") 
              input(type="text" class="form-control" id="searchBar" name="search" placeholder="Enter your search term")
            button.btn.btn-success(type="submit") Submit
            //button.btn.btn-danger(type="reset") Clear
            if (results !== undefined)
                if (results.length > 0)
                    h3.mt-5 Search Results
                    table.table.table-striped.table-responsive
                      thead
                          tr
                          th.text-center Code
                          th.text-center Group
                          th.text-center Definition
                      tbody
                          each item in results
                              tr
                              td= item.code
                              td= item.group
                              td= item.definition
                else if (results.length === 0 )
                    h3.mt-5 No results found
            